<app-header [backButton]="backButtonRoute" [title]="titleName"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submitLoginData()" (keypress.enter)="submitLoginData()">
      <app-logo></app-logo>
      <p class="ion-text-center">We will send an email so you can recover your password.</p>
      <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
        [label]="emailLabel"></app-custom-input>
      <div class="validator" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">
          The email is required
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">
          Insert a valid email
        </div>
      </div>

      <ion-button expand="block" mode="md" class="submit" type="submit" [disabled]="form.invalid">
        Recover your password
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </form>
  </div>
</ion-content>
