<app-header [showMenu]="true" [title]="titleName"></app-header>

<div class="date">
  <app-custom-input
    [control]="form.controls.date"
    type="date"
    [label]="dateLabel"
  ></app-custom-input>
  <ion-button
    (click)="searchByDate()"
    mode="md"
    type="submit"
    [disabled]="!form.controls.date.value"
  >
    Buscar
    <ion-icon slot="end" name="search-circle-outline"></ion-icon>
  </ion-button>
</div>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loading">
    <ion-accordion-group
      expand="inset"
      *ngFor="let productData of productsData"
    >
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-avatar class="avatar" aria-hidden="true" slot="start">
            <img
              alt=""
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label class="name-bold">{{productData.name}}</ion-label>
        </ion-item>
        <div
          class="ion-padding"
          slot="content"
          *ngFor="let products of productData.products; let last = last"
        >
          <ion-list>
            <ion-item-sliding class="product-item">
              <ion-item>
                <ion-avatar slot="start">
                  <img [src]="products.product_img" alt="product img" />
                </ion-avatar>
                <ion-label>
                  <div class="name">{{products.product_name}}</div>
                  <div class="data">
                    <strong>Preço:</strong> {{products.value}} R$ <br />
                    <strong>Data:</strong> {{ formatDate(products.payment_date)
                    }}
                  </div>
                </ion-label>
              </ion-item>

              <ion-item-options>
                <ion-item-option (click)="addUpdateProduct(products)">
                  <ion-icon class="option-btn" name="create-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="success" (click)="sendAlert(products)">
                  <ion-icon
                    class="option-btn"
                    name="bag-check-outline"
                  ></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          <div *ngIf="last" class="chip">
            <ion-chip color="primary" mode="md" outline="true">
              <ion-label>Total: {{productData.total}} </ion-label>
            </ion-chip>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div *ngIf="loading">
    <ion-accordion-group
      expand="inset"
      *ngFor="let productData of esqueletonData"
    >
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-avatar class="avatar" aria-hidden="true" slot="start">
            <ion-skeleton-text
              animated
              style="width: 100%; height: 100%"
            ></ion-skeleton-text>
          </ion-avatar>
          <ion-label class="name-bold">
            <div>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 30%"
              ></ion-skeleton-text>
            </div>
          </ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div *ngIf="!loading && !productsData.length" class="empty">
    <ion-icon name="storefront-outline"></ion-icon>
    <h3>Não existem vendas pendentes por pagar no mês selecionado</h3>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
