<app-header [backButton]="backButtonRoute" [title]="titleName"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submitLoginData()"
      (keypress.enter)="submitLoginData()"
    >
      <app-logo></app-logo>

      <app-custom-input
        autocomplete="name"
        icon="person-outline"
        [control]="form.controls.name"
        type="text"
        [label]="nameLabel"
      ></app-custom-input>
      <div
        class="validator"
        *ngIf="form.controls.name.errors && form.controls.name.touched"
      >
        <div *ngIf="form.controls.name.errors?.['required']">
          O nome é requerido
        </div>
        <div *ngIf="form.controls.name.errors?.['minLenght']">
          O nome deve conter um mínimo de quatro caráteres
        </div>
      </div>

      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        [label]="emailLabel"
      ></app-custom-input>
      <div
        class="validator"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">
          O e-mail é requerido
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">
          Insira um e-mail valido
        </div>
      </div>
      <app-custom-input
        [control]="form.controls.password"
        icon="lock-closed-outline"
        type="password"
        [label]="passwordLabel"
      ></app-custom-input>
      <div
        class="validator"
        *ngIf="form.controls.password.errors && form.controls.password.touched"
      >
        <div *ngIf="form.controls.password.errors?.['required']">
          A senha é requerida
        </div>
      </div>

      <ion-button
        expand="block"
        mode="md"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        Cadastre-se
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
